<template>
	<div class="col-lg-6">
			<form @submit.prevent="create" method="post" ref="create">
					
					<div :class="{'col-lg-12 form-group':true, 'has-error':errors.has('optionPay') }">
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="checkbox" v-model="optionPay" name="optionPay" id="optionPay" @click="optionPay=!optionPay">
						  <label class="form-check-label" for="optionPay">PAGO PSE</label>
						</div>
					</div>

	        <div :class="{'col-lg-12 form-group':true, 'has-error':errors.has('bank') }" v-show="optionPay">
	          <label class="control-label" for="bank">Bancos</label>
	          <select name="bank" v-model="bank" class="form-control">
	          	<option v-for="b in banks"  value="b.id"> {{ b.name }}</option>
	          </select>
	          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
	          <div class="message-validate has-error" v-show="errors.has('bank')"> {{ errors.first('bank') }} </div>
	        </div>

	<!--         <div :class="{'col-lg-6 form-group':true, 'has-error':errors.has('name') }">
	          <label class="control-label" for="name">Nombre</label>
	          <input v-model="name" name="name" type="text" class="form-control" v-validate="'required'">
	          <div class="message-validate has-error" v-show="errors.has('name')"> {{ errors.first('name') }} </div>
	        </div>

	        <div :class="{'col-lg-6 form-group':true, 'has-error':errors.has('value') }">
	          <label class="control-label" for="value">Valor</label>
	          <input v-model="value" name="value" type="text" class="form-control" v-validate="'required|numeric'">
	          <div class="message-validate has-error" v-show="errors.has('value')"> {{ errors.first('value') }} </div>
	        </div>

	        <div :class="{'col-lg-12 form-group':true, 'has-error':errors.has('detail') }">
	          <label class="control-label" for="detail">Descripción</label>
	          <textarea v-model="detail" name="detail" type="text" class="form-control" v-validate="{regex: /^([0-9a-zA-ZñÑáéíóú., ]+)$/ }"></textarea>
	          <div class="message-validate has-error" v-show="errors.has('detail')"> {{ errors.first('detail') }} </div>
	        </div> -->

	        <div class="col-lg-12" style="text-align:right;">
	          <button type='submit' class="btn btn-primary">Procesar</button>
	        </div>

	      </form>
	</div>
</template>

<script>
import Multiselect from 'vue-multiselect'
export default{
	name:"FormData",
	components:{
		Multiselect
	},
  data:()=>{
      return{
          bank:Object,
          banks:'',
          optionPay:false
      }
  },
	methods:{
		create(){
			console.log('inicio transacion')
		},
		loadingBank(){
			axios.get('api/bankList').then( res =>{
					console.log(res);
					this.$toasterE.info('epa')
			}).catch( err => {
					this.$toasterE.warning('No se puedo obtener la lista de Entidades Financieras, por favor intente más tarde')
			})
		}
	},
	watch:{
		optionPay(vNew){
			if(this.optionPay){
					this.loadingBank();
			}
		}
	}
}
</script>