<template>
    <div class="well">
      <h1>Prueba compra</h1>
      <form-data></form-data>
    </div>
</template>

<script>

import FormData from './FormData.vue'
export default {
    name:"Example",
    components: {
        FormData
    },
    created(){
        //this.$toasterE.info('sdfsd');
    },
    methods:{
        create(){

        }
    }
}
</script>
